<app-cover></app-cover>

<div class="gallery bg-slate-100  py-5">
    <div class="container">
    <h3 class="text-4xl font-bold mx-5 my-3">Events</h3>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <div class="p-3">
          <img src="./assets/img/gallery2.jpg" alt="" class="h-[38rem] w-full rounded-xl ">
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="p-3">
          <img src="./assets/img/gallery1.png" alt="" class="h-[38rem] w-full rounded-xl ">
        </div>
       
      </div>
     
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <div class="p-3">
          <img src="./assets/img/galley3.jpg" alt="" class="h-[38rem] w-full rounded-xl ">
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="p-3">
          <img src="./assets/img/gallery4.jpg" alt="" class="h-[38rem] w-full rounded-xl ">
        </div>
       
      </div>
     
    </div>
    </div>
  </div>
