
<div class="student  py-5 w-full">
  <div class="container  w-full">
      <div class="flex flex-col  justify-center h-full w-full">
          <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
              <div class="overflow-hidden">
                <table class="min-w-full text-left text-sm font-light">
                  <thead class="border-b font-medium dark:border-neutral-500">
                    <tr class="mx-5">
                
                      <th scope="col" class="px-6 py-4 text-2xl">Attendance</th>
                      <th scope="col" class="px-6 py-4 text-2xl">Exams Result</th>
                      <th scope="col" class="px-6 py-4 text-2xl">Assignments</th>
                    </tr>
                    
                  </thead>
                  <tbody>
                    <tr
                      class="border-b transition duration-300 ease-in-out hover:bg-neutral-100 dark:border-neutral-500 dark:hover:bg-neutral-600">
                   
                      <td class="whitespace-nowrap px-6 py-4">
                          <button class="btn btn-lg btn-outline-danger"><a href="https://docs.google.com/spreadsheets/d/1NFZE-ZJUQwaB5iB5y25fMc7_F25PYAO1RInVb1CFm6M/edit?usp=sharing">View Attendance..</a></button>
                      </td>
                      <td class="whitespace-nowrap px-6 py-4">
                          <button class="btn btn-lg btn-outline-danger"><a href="https://docs.google.com/spreadsheets/d/1VdxkpAgUfNryJryVhqdR755bDmODzvNpytjTPc5Sk_g/edit?usp=sharing">View Marks..</a></button>
                      </td>
                      <td class="whitespace-nowrap px-6 py-4">
                          <button class="btn btn-lg btn-outline-danger"><a href="https://docs.google.com/forms/d/e/1FAIpQLSc-zTkXBy0XF6DpKc7DG3aOhTIA1B-HqdZzk8bJY26KYBZShg/viewform?usp=sf_link">View Assignments..</a></button>
                      </td>
                    </tr>
                  
                 
            
             
          
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
  </div>
</div>
