<div class="testimonials">
    <div class="container py-5">
        <div class="row bg-blue-200 py-5 px-3">
            <div class="col-sm-12 col-md-6">
<div >
    <img src="./assets/img/test-cvr.avif" alt="">
</div>
            </div>
            <div class="col-sm-12 col-md-6">
                
                <div class="row">
                   
                    <div class="dol-sm-12 col-md-9">
                        <div class="border-2  border-red-500 xl:px-5 px-2 py-3 bg-slate-50">
                    <h1 class="text-2xl text-center text-red-600 mb-2">Testimonials</h1>
                    <owl-carousel-o [options]="customOptions">
                        <ng-template carouselSlide>
                            <div class=" w-full h-full">
                            <div class="p-3">
                               <p class="fonts">From the very first interaction, it was evident that Edunation is more than just an educational institution – it's a place where learning is fostered, potential is unlocked, and confidence is built. The team of dedicated educators goes above and beyond to create a nurturing and intellectually stimulating environment.</p>
                            </div>
                           
                    <div class="text-center py-2">
                        <p>Divya</p>
                        <p>10th std</p>
                    </div>
                              </div>
                        </ng-template>  
                        <ng-template carouselSlide>
                            <div class=" w-full h-full">
                                <div class="p-3">
                                   <p class="fonts">What truly stands out about Edunation is their commitment to holistic learning. It's not just about memorizing formulas and facts; it's about understanding the 'why' behind them. The critical thinking skills I've developed here have not only boosted my grades but also my confidence in approaching any academic challenge.</p>
                                </div>
                               
                        <div class="text-center py-2">
                            <p>Muhammed </p>
                            <p>Plus 2 science</p>
                        </div>
                                  </div>
                        </ng-template>  
                        <ng-template carouselSlide>
                            <div class=" w-full h-full">
                                <div class="p-3">
                                   <p class="fonts">Classes at Edunation are really good and easy to grasp.
                                    The teachers at Edunationna are amazing. They take the time to explain concepts thoroughly and make sure everyone understands before moving forward. </p>
                                </div>
                               
                        <div class="text-center py-2">
                            <p>Fathima</p>
                            <p>9th std</p>
                        </div>
                                  </div>
                        </ng-template>  
                      </owl-carousel-o>
                </div>
                    </div>
                </div>
                            </div>
        </div>



     


    </div>
</div>

