<div class="testimonials">
    <div class="container py-5">
        <div class="row bg-blue-200 py-5 px-3">
            <div class="col-sm-12 col-md-6">
<div >
    <img src="./assets/img/test-cvr.avif" alt="">
</div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div >
                    <h1 class="text-4xl my-2">Review's From Our Students</h1>
                </div>
                <div class="row">
                   
                    <div class="dol-sm-12 col-md-9">
                        <div class="border-2  border-red-500 px-5 py-3 bg-slate-50">
                    <h2 class="text-2xl text-center text-red-600 mb-2">Testimonials</h2>
                    <owl-carousel-o [options]="customOptions">
                        <ng-template carouselSlide>
                            <div class=" w-full h-full">
                            <div class="">
                                <p>Lorem ipsum, sit amet consectetur adipisicing elit. Necessitatibus quaerat possimus facere eius nostrum, in blanditiis voluptates obcaecati quibusdam cumque porro deleniti soluta atque harum ipsa error asperiores mollitia aliquam.</p>
                            </div>
                            <div class="rounded-circle flex items-center justify-center mt-3">
                                <img src="./assets/img/tchr1.jpg" class="rounded-circle" alt="" height="30px" width="10px">
                                
                            </div>
                    <div class="text-center py-2">
                        <p>Divya</p>
                        <p>Student</p>
                    </div>
                              </div>
                        </ng-template>  
                        <ng-template carouselSlide>
                            <div class=" w-full h-full">
                                <div class="">
                                    <p>Lorem ipsum, sit amet consectetur adipisicing elit. Necessitatibus quaerat possimus facere eius nostrum, in blanditiis voluptates obcaecati quibusdam cumque porro deleniti soluta atque harum ipsa error asperiores mollitia aliquam.</p>
                                </div>
                                <div class="rounded-circle flex items-center justify-center mt-3">
                                    <img src="./assets/img/tchr1.jpg" class="rounded-circle" alt="" height="30px" width="10px">
                                    
                                </div>
                        <div class="text-center py-2">
                            <p>Divya</p>
                            <p>Student</p>
                        </div>
                                  </div>
                        </ng-template>  
                        <ng-template carouselSlide>
                            <div class=" w-full h-full">
                                <div class="">
                                    <p>Lorem ipsum, sit amet consectetur adipisicing elit. Necessitatibus quaerat possimus facere eius nostrum, in blanditiis voluptates obcaecati quibusdam cumque porro deleniti soluta atque harum ipsa error asperiores mollitia aliquam.</p>
                                </div>
                                <div class="rounded-circle flex items-center justify-center mt-3">
                                    <img src="./assets/img/tchr1.jpg" class="rounded-circle" alt="" height="30px" width="10px">
                                    
                                </div>
                        <div class="text-center py-2">
                            <p>Divya</p>
                            <p>Student</p>
                        </div>
                                  </div>
                        </ng-template>  
                      </owl-carousel-o>
                </div>
                    </div>
                </div>
                            </div>
        </div>



     


    </div>
</div>

