.login{
    background-image: url('/assets/img/bgimg.jpg');
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
   
    border-radius:5px 0 0 5px ;
}
input.ng-invalid.ng-touched {
    border: red 1px solid;
  }