<div class="cover w-full">
    <div class="   relative h-96 w-full">
        <div class=" absolute w-full h-full bg-purple-950 opacity-70">
            
            </div>
            <div class="absolute inset-0 bg-gradient-to-t from-transparent via-transparent to-purple-950 "></div>
            <div class="absolute inset-0 bg-gradient-to-b from-transparent via-transparent to-purple-950 "></div>
          
            <div class="flex h-full w-full items-center justify-center">
                <h1 class="text-white z-1 text-5xl font-bold">{{showval}}</h1>
            </div>
    </div>
</div>
